form {
  grid-row-start: 2;
  grid-column-start: 2;
  padding: 20px;
  /* border: 1px solid black; */
  /* box-shadow: 10px 10px 20px rgba(224, 228, 239, 0.5); */
}

input, textarea {
  font-size: 1.2em;
  width: 330px;
  
}

textarea {
  border: 1px solid #634ABE;
  border-radius: 3px;
}

input:focus {

}

.contact-text {
  grid-row-start: 2;
  padding-left: 50px;
}

form input[type="text"], form input[type="email"] {
  border: none;
  border-bottom: 1px solid #634ABE;
}

.contact-title {
  color: rgb(26,188,156);
}

form input[type="submit"] {
  color: white;
  background-color: #634ABE;
  border-radius: 5px;
}

textarea {
  /* height: 125%; */
}

form > input, textarea {
  padding: 5px;
  margin: 20px 0;
  display: block;
}

input[type="submit"] {
  width: 100%;
}

.social-icon-container {
  grid-row-start: 2;
  grid-column-start: 3;
}